# Arquivos de log
*.log
LOGS/

# Arquivos compilados do Maven
target/

# Arquivos de configuração de IDEs
.idea/
*.iml
.vscode/
.settings/
.classpath
.project

# Arquivos do sistema operacional
.DS_Store
Thumbs.db

# Ignora pacotes de dependências
.mvn/

# Arquivos de configuração de ambiente
# Ignora apenas o arquivo de configuração do ambiente de desenvolvimento local
application-dev.yml

# Arquivo de variáveis de ambiente do Docker Compose
.env
